<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>实时有效的代理服务器列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" th:href="@{http://www.jeasyui.com/easyui/themes/material/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{http://www.jeasyui.com/easyui/themes/mobile.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{http://www.jeasyui.com/easyui/themes/icon.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.easyui.mobile.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var _queryUrl = "proxyController/queryProxy";
        var _dataGridObj;

        $(function() {
            _dataGridObj = initDataGrid($('#queryResult'), _queryUrl);
        });

        /*]]>*/
    </script>
</head>
<body>
<div id="header">
    <div class="m-toolbar">
        <div class="m-title">实时有效的代理服务器列表 &nbsp;<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=75c27afe5f1b45a45ad33e30164215cda897e122391de88969be45db1b86e66f"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="Java网络爬虫技术交流" title="Java网络爬虫技术交流"/></a></div>
    </div>
</div>
<div style="height:660px">
    <table id="queryResult" data-options="header:'#header',singleSelect:true,border:false,fit:true,fitColumns:true,scrollbarSize:0">
        <thead>
        <tr>
            <th data-options="field:'type',width:120,align:'center'">类型</th>
            <th data-options="field:'ip',width:200,align:'center'">IP地址</th>
            <th data-options="field:'port',width:120,align:'center'">端口</th>
        </tr>
        </thead>
    </table>
</div>
<div style="height:50px">
    <p><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1271391861'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1271391861%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script></p>
</div>
</body>
</html>
