<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>计划要爬的资源列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{http://www.jeasyui.net/Public/js/easyui/themes/default/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{http://www.jeasyui.net/Public/js/easyui/themes/icon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}"/>
    <script type="text/javascript" th:src="@{https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{https://cdn.staticfile.org/json2/20130526/json2.min.js}"></script>
    <script type="text/javascript" th:src="@{http://www.jeasyui.net/Public/js/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{http://www.jeasyui.net/Public/js/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var _queryUrl = "proxyResourceController/getAllResourcePlan";
        var _deleteUrl = "proxyResourceController/doDeleteResourcePlan";
        var _updateUrl= "proxyResourceController/doSaveResourcePlan";
        var _dataGridObj;

        var _toolbarArray = [
            {
                text:'删除计划',
                iconCls:'icon-edit',
                handler:function(){
                    var rowObj = $('#queryResult').datagrid('getSelected');
                    if (rowObj){
                        var selectedRowObj = _dataGridObj.datagrid('getSelected');
                        var jsonData = JSON.stringify(selectedRowObj);
                        doPostRequest(_deleteUrl, jsonData, successCallback1, errorCallback1);
                    } else {
                        info_alert('请选中一个计划再删除！');
                    }
                }
            }];

        $(function() {
            loadData();
            bindAction();
        });

        function loadData() {
            _dataGridObj = initDataGrid_1($('#queryResult'), _queryUrl, _toolbarArray, updatePlan);
        }

        function bindAction() {
            $("#btnUpdatePlan").click(function() {
                if(!checkInput1()) return;

                var jsonObj = $("#formUpdatePlan").serializeObject();
                var selectedRowObj = _dataGridObj.datagrid('getSelected');
                selectedRowObj.startPageNum = jsonObj.startPageNum;
                selectedRowObj.endPageNum = jsonObj.endPageNum;
                var jsonData = JSON.stringify(selectedRowObj);
                doPostRequest(_updateUrl, jsonData, successCallback2, errorCallback2);
            });

            $("#btnClosePlan").click(function() {
                $('#divPlanWindow').window('close');
            });
        }

        function updatePlan() {
            var selectedRowObj = _dataGridObj.datagrid('getSelected');
            $("#resId").textbox("setValue", selectedRowObj.proxyResource.resId);
            $("#startPageNum").textbox("setValue", selectedRowObj.startPageNum);
            $("#endPageNum").textbox("setValue", selectedRowObj.endPageNum);

            $('#divPlanWindow').window('open');
        }

        function successCallback1(data) {
            if(data) {
                info_alert('成功删除一条计划数据！');
                _dataGridObj.datagrid('reload');
            } else {
                warn_alert('删除计划数据失败！');
            }
        }

        function errorCallback1() {
            error_alert('删除计划数据异常！');
        }


        function successCallback2(data) {
            if(data) {
                info_alert('更新计划成功！');
                $('#divPlanWindow').window('close');
                _dataGridObj.datagrid('reload');
            } else {
                warn_alert('更新计划失败！');
            }
        }

        function errorCallback2() {
            error_alert('更新计划异常！');
        }

        function formatObj1(value,rec) {
            return rec.proxyResource != null ? rec.proxyResource.resId : "";
        }

        function formatObj2(value,rec) {
            var urlHtml = "";
            if(rec.proxyResource != null) {
                urlHtml = "<a target='_blank' href='"+rec.proxyResource.webUrl+"'>"+rec.proxyResource.webUrl+"</a>";
            }
            return urlHtml;
        }

        function formatObj3(value,rec) {
            return rec.proxyResource != null ? rec.proxyResource.prefix : "";
        }

        function formatObj4(value,rec) {
            return rec.proxyResource != null ? rec.proxyResource.suffix : "";
        }

        function formatObj5(value,rec) {
            return rec.proxyResource != null ? rec.proxyResource.parser : "";
        }

        function checkInput1() {
            if($.trim($("#startPageNum").val()) == "") {
                warn_alert('【开始页】不能为空！');
                return false;
            }
            if($.trim($("#endPageNum").val()) == "") {
                warn_alert('【结束页】不能为空！');
                return false;
            }

            return true;
        }

        /*]]>*/
    </script>
</head>
<body>
<div id="bodyDiv">
    <div class="easyui-panel" title="计划要爬的资源列表">
        <div style="width:100%;text-align:center;padding:10px 0 0 0;">
            <table id="queryResult" class="easyui-datagrid">
                <thead>
                <tr>
                    <th data-options="field:'proxyResource.resId',width:100,align:'center',sortable:true,formatter:formatObj1">资源ID</th>
                    <th data-options="field:'proxyResource.webUrl',width:250,align:'left',sortable:true,formatter:formatObj2">网站地址</th>
                    <th data-options="field:'proxyResource.prefix',width:300,align:'left',sortable:true,formatter:formatObj3">URL前缀</th>
                    <th data-options="field:'startPageNum',width:100,align:'center',sortable:true">开始页</th>
                    <th data-options="field:'endPageNum',width:100,align:'center',sortable:true">结束页</th>
                    <th data-options="field:'proxyResource.suffix',width:100,align:'center',sortable:true,formatter:formatObj4">URL后缀</th>
                    <th data-options="field:'proxyResource.parser',width:360,align:'left',sortable:true,formatter:formatObj5">解析类</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="divPlanWindow" class="easyui-window" title="更新计划" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,border:'thin',cls:'c6'" style="width:350px;height:200px;padding:10px;">
    <div data-options="region:'center',border:false" style="">
        <form id="formUpdatePlan" method="post" class="inputForm">
            <div class="input_container">
                资源ID：<input class="easyui-textbox" id="resId" name="resId" style="width:150px;" data-options="readonly:true"/>
            </div>
            <div class="input_container">
                <input class="easyui-textbox" prompt="开始页" id="startPageNum" name="startPageNum" style="width:100px;" data-options="required:true"/>&nbsp;&nbsp;
                <input class="easyui-textbox" prompt="结束页" id="endPageNum" name="endPageNum" style="width:100px;" data-options="required:true"/>
            </div>
        </form>
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
        <a class="easyui-linkbutton" id="btnUpdatePlan" data-options="iconCls:'icon-ok'" href="javascript:void(0)" style="width:80px">更新</a>
        <a class="easyui-linkbutton" id="btnClosePlan" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" style="width:80px">取消</a>
    </div>
</div>
</body>
</html>