<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>实时有效的代理服务器列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" th:href="@{http://www.jeasyui.net/Public/js/easyui/themes/default/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{http://www.jeasyui.net/Public/js/easyui/themes/icon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}"/>
    <script type="text/javascript" th:src="@{https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{http://www.jeasyui.net/Public/js/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{http://www.jeasyui.net/Public/js/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var _queryUrl = "proxyController/queryProxy";
        var _checkUrl = "proxyController/doValidateProxy";   //验证一条代理数据
        var _dataGridObj;
        var _showTag = 1;
        var _timer;

        $(function() {
            loadData();
            bindAction();
        });

        function loadData() {
            _dataGridObj = initDataGrid($('#queryResult'), _queryUrl, checkProxy);
        }

        function bindAction() {
            $("#btnQuery").click(function() {
                var queryUrl = _queryUrl+"?proxyType="+$('#ipType').combobox('getValue')+"&proxyIp="+$('#ipAddress').val()+"&minPort="+$('#minPort').val()+"&maxPort="+$('#maxPort').val();
                _dataGridObj.datagrid('options').url = queryUrl;
                _dataGridObj.datagrid('load');
            });

            $("#ipType").combobox({
                onChange:function(record) {
                    var queryUrl = _queryUrl+"?proxyType="+$('#ipType').combobox('getValue')+"&proxyIp="+$('#ipAddress').val()+"&minPort="+$('#minPort').val()+"&maxPort="+$('#maxPort').val();
                    _dataGridObj.datagrid('options').url = queryUrl;
                    _dataGridObj.datagrid('load');
                }
            });

            $("#ipType").combobox('setText','All');
        }

        function checkProxy(rowIndex, rowData) {
            _showTag = 1;
            _timer = setTimeout(closeProcess, 10000); //10秒钟后自动关闭进度条（但还在继续处理中）
            progress();
            var actionUrl = _checkUrl+"?id="+rowData.id+"&proxyType="+rowData.proxyType+"&proxyIp="+rowData.proxyAddress+"&proxyPort="+rowData.proxyPort;
            doGetRequest(actionUrl, successCallback1, errorCallback1);
        }

        function closeProcess() {
            $.messager.progress('close');
            _showTag = 0;
            clearTimeout(_timer);
        }

        function successCallback1(data) {
            clearTimeout(_timer);
            $.messager.progress('close');
            if(data.proxyAddress == "" || data.proxyAddress == null || data.proxyAddress == undefined) {
                if(_showTag == 1) {
                    //10秒钟以内的返回，才显示对话框
                    warn_alert('该代理已失效并被删除了！');
                }
            } else {
                info_alert("该代理有效！</br>"+data.proxyType+"://"+data.proxyAddress+":"+data.proxyPort);
            }
            _dataGridObj.datagrid('reload');
        }

        function errorCallback1() {
            clearTimeout(_timer);
            $.messager.progress('close');
            error_alert('验证过程异常！');
        }

        function progress(){
            $.messager.progress('close');

            var win = $.messager.progress({
                title:'提示',
                text:'正在验证，请稍候...',
                interval:500
            });
        }

        /*]]>*/
    </script>
</head>
<body>
<div id="bodyDiv">
    <div class="easyui-panel" title="代理服务器列表（请双击进行验证）">
        <div style="width:100%;text-align:left;padding:10px 0 0 0;">
            <div class="queryForm" style="text-align:center">
                <select class="easyui-combobox" id="ipType" name="ipType" style="width:60px;" panelHeight="auto">
                    <option value="all" selected="selected">All</option>
                    <option value="http">http</option>
                    <option value="https">https</option>
                </select>&nbsp;&nbsp;
                <input class="easyui-textbox" prompt="IP address" labelPosition="left" labelAlign="right" id="ipAddress" style="width:100px"/>
                <input class="easyui-textbox" prompt="min port" id="minPort" style="width:80px"/>&nbsp;&nbsp;
                <input class="easyui-textbox" prompt="max port" id="maxPort" style="width:80px"/>
            </div>
            <div class="query_container" style="text-align:center">
                <a href="#" id="btnQuery" class="easyui-linkbutton" iconCls="icon-search" style="width:120px;height:30px;margin-top:5px;">查 询</a>
            </div>
        </div>
        <div style="width:100%;text-align:center;padding:10px 0 0 0;">
            <table id="queryResult">
                <thead>
                <tr>
                    <th data-options="field:'proxyType',width:120,align:'center',sortable:true">类型</th>
                    <th data-options="field:'proxyAddress',width:200,align:'center',sortable:true">IP地址</th>
                    <th data-options="field:'proxyPort',width:120,align:'center',sortable:true">端口</th>
                    <th data-options="field:'lastSuccessfulTime',width:200,align:'center',sortable:true,formatter:timestamp2string">最新验证时间</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div>
    <p><span style="font-size: 16px; color:#0000EE">源代码地址：<a href="https://github.com/fengzhizi715/ProxyPool" target="_blank">https://github.com/fengzhizi715/ProxyPool</a></span></p>
    <p><span style="font-size: 16px; color:#0000EE">QQ交流群：490882934</span>&nbsp;&nbsp;<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=75c27afe5f1b45a45ad33e30164215cda897e122391de88969be45db1b86e66f"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="Java网络爬虫技术交流" title="Java网络爬虫技术交流"/></a></p>
    <hr/>
    <p><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1271391861'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1271391861%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script></p>
</div>
</body>
</html>
