<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>代理服务器网站资源</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{http://www.jeasyui.net/Public/js/easyui/themes/default/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{http://www.jeasyui.net/Public/js/easyui/themes/icon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}"/>
    <script type="text/javascript" th:src="@{https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{https://cdn.staticfile.org/json2/20130526/json2.min.js}"></script>
    <script type="text/javascript" th:src="@{http://www.jeasyui.net/Public/js/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{http://www.jeasyui.net/Public/js/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var _queryUrl = "proxyResourceController/getAllResource";
        var _saveUrl = "proxyResourceController/doSaveResource";
        var _saveUrl1 = "proxyResourceController/doSaveResourcePlan";
        var _dataGridObj;

        var _toolbarArray = [{
                text:'新增网站资源',
                iconCls:'icon-add',
                handler:function(){
                    openSaveResourceWindow("add");
                }
            },
            {
                text:'更新网站资源',
                iconCls:'icon-edit',
                handler:function(){
                    var rowObj = $('#queryResult').datagrid('getSelected');
                    if (rowObj){
                        openSaveResourceWindow("update");
                    } else {
                        info_alert('请选中一个资源再更新！');
                    }
                }
            },
            {
                text:'添加到计划',
                iconCls:'icon-add',
                handler:function(){
                    var rowObj = $('#queryResult').datagrid('getSelected');
                    if (rowObj){
                        openAddJobWindow();
                    } else {
                        info_alert('请选中一个资源再添加！');
                    }
                }
            }];

        $(function() {
            loadData();
            bindAction();
        });

        function loadData() {
            _dataGridObj = initDataGrid_1($('#queryResult'), _queryUrl, _toolbarArray);
        }

        function bindAction() {
            $("#btnSaveRes").click(function() {
                if(!checkInput()) return;

                var jsonObj = $("#formAddRes").serializeObject();
                var selectedRowObj = _dataGridObj.datagrid('getSelected');
                if($("#resId").val() != "") {
                    jsonObj.id = selectedRowObj.id; //更新时需要用到主键
                    jsonObj.addTime = selectedRowObj.addTime;
                }
                var jsonData = JSON.stringify(jsonObj);
                doPostRequest(_saveUrl, jsonData, successCallback1, errorCallback1);
            });

            $("#btnCloseRes").click(function() {
                $('#divResWindow').window('close');
            });

            $("#btnAddPlan").click(function() {
                if(!checkInput1()) return;

                var jsonObj = $("#formAddPlan").serializeObject();
                var selectedRowObj = _dataGridObj.datagrid('getSelected');
                jsonObj.proxyResource = selectedRowObj;
                var jsonData = JSON.stringify(jsonObj);
                doPostRequest(_saveUrl1, jsonData, successCallback2, errorCallback2);
            });

            $("#btnClosePlan").click(function() {
                $('#divPlanWindow').window('close');
            });
        }

        function successCallback1(data) {
            if(data) {
                info_alert('保存资源成功！');
                $('#divResWindow').window('close');
                _dataGridObj.datagrid('reload');
            } else {
                warn_alert('保存资源失败！');
            }
        }

        function errorCallback1() {
            error_alert('保存资源异常！');
        }

        function successCallback2(data) {
            if(data) {
                info_alert('保存计划成功！');
                $('#divPlanWindow').window('close');
            } else {
                warn_alert('保存计划失败！');
            }
        }

        function errorCallback2() {
            error_alert('保存计划异常！');
        }

        function openSaveResourceWindow(action) {
            if(action == "add") {
                $('#divResWindow').panel({title:"新增网站资源"});
                $("#resId").val("");
                $("#webName").textbox("setValue", "");
                $("#webUrl").textbox("setValue", "");
                $("#pageCount").textbox("setValue", "");
                $("#prefix").textbox("setValue", "");
                $("#suffix").textbox("setValue", "");
                $("#parser").textbox("setValue", "");
            } else if(action == "update") {
                $('#divResWindow').panel({title:"更新网站资源"});
                var selectedRowObj = _dataGridObj.datagrid('getSelected');
                $("#resId").val(selectedRowObj.resId);
                $("#webName").textbox("setValue", selectedRowObj.webName);
                $("#webUrl").textbox("setValue", selectedRowObj.webUrl);
                $("#pageCount").textbox("setValue", selectedRowObj.pageCount);
                $("#prefix").textbox("setValue", selectedRowObj.prefix);
                $("#suffix").textbox("setValue", selectedRowObj.suffix);
                $("#parser").textbox("setValue", selectedRowObj.parser);
            }

            $('#divResWindow').window('open');
        }

        function openAddJobWindow() {
            $("#startPageNum").textbox("setValue", "");
            $("#endPageNum").textbox("setValue", "");
            //添加到任务列表
            var rowData = _dataGridObj.datagrid("getSelected");
            $("#refResId").textbox("setValue", rowData.resId);

            $('#divPlanWindow').window('open');
        }

        function formatWebUrl(val) {
            return "<a target='_blank' href='"+val+"'>"+val+"</a>";
        }

        function checkInput() {
            if($.trim($("#pageCount").val()) == "") {
                warn_alert('【页面数量】不能为空！');
                return false;
            }
            if($.trim($("#prefix").val()) == "") {
                warn_alert('【URL前缀】不能为空！');
                return false;
            }
            if($.trim($("#parser").val()) == "") {
                warn_alert('【解析类】不能为空！');
                return false;
            }

            return true;
        }

        function checkInput1() {
            if($.trim($("#startPageNum").val()) == "") {
                warn_alert('【开始页】不能为空！');
                return false;
            }
            if($.trim($("#endPageNum").val()) == "") {
                warn_alert('【结束页】不能为空！');
                return false;
            }

            return true;
        }

        /*]]>*/
    </script>
</head>
<body>
<div id="bodyDiv">
    <div class="easyui-panel" title="代理服务器网站资源">
        <div style="width:100%;text-align:center;padding:10px 0 0 0;">
            <table id="queryResult" class="easyui-datagrid">
                <thead>
                <tr>
                    <th data-options="field:'resId',width:100,align:'center',sortable:true">资源ID</th>
                    <th data-options="field:'webName',width:150,align:'center',sortable:true">网站名称</th>
                    <th data-options="field:'webUrl',width:250,align:'left',sortable:true,formatter:formatWebUrl">网站地址</th>
                    <th data-options="field:'pageCount',width:100,align:'center',sortable:true">总页数</th>
                    <th data-options="field:'prefix',width:300,align:'left',sortable:true">URL前缀</th>
                    <th data-options="field:'suffix',width:100,align:'center',sortable:true">URL后缀</th>
                    <th data-options="field:'parser',width:360,align:'left',sortable:true">解析类</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="divResWindow" class="easyui-window" title="保存网站资源" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,border:'thin',cls:'c6'" style="width:700px;height:300px;padding:10px;">
    <div data-options="region:'center',border:false" style="padding:10px;">
        <form id="formAddRes" method="post" class="inputForm">
            <div class="input_container">
                <input class="easyui-textbox" prompt="网站名称:" id="webName" name="webName" style="width:300px;" value="" data-options=""/>
                <input type="hidden" id="resId" name="resId"/>
            </div>
            <div class="input_container">
                <input class="easyui-textbox" prompt="网站地址:" id="webUrl" name="webUrl" style="width:400px;" data-options=""/>
                <input class="easyui-textbox" prompt="页面数量:" id="pageCount" name="pageCount" style="width:200px;" data-options="required:true"/>
            </div>
            <div class="input_container">
                <input class="easyui-textbox" prompt="URL前缀:" id="prefix" name="prefix" style="width:400px;" data-options="required:true"/>
                <input class="easyui-textbox" prompt="URL后缀:" id="suffix" name="suffix" style="width:200px;" data-options=""/>
            </div>
            <div class="input_container">
                <input class="easyui-textbox" prompt="解析类:" id="parser" name="parser" style="width:600px;" data-options="required:true"/>
            </div>
        </form>
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
        <a class="easyui-linkbutton" id="btnSaveRes" data-options="iconCls:'icon-ok'" href="javascript:void(0)" style="width:80px">保存</a>
        <a class="easyui-linkbutton" id="btnCloseRes" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" style="width:80px">取消</a>
    </div>
</div>
<div id="divPlanWindow" class="easyui-window" title="添加资源到任务" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,border:'thin',cls:'c6'" style="width:350px;height:200px;padding:10px;">
    <div data-options="region:'center',border:false" style="">
        <form id="formAddPlan" method="post" class="inputForm">
            <div class="input_container">
                资源ID：<input class="easyui-textbox" id="refResId" name="refResId" style="width:150px;"/>
            </div>
            <div class="input_container">
                <input class="easyui-textbox" prompt="开始页" id="startPageNum" name="startPageNum" style="width:100px;" data-options="required:true"/>&nbsp;&nbsp;
                <input class="easyui-textbox" prompt="结束页" id="endPageNum" name="endPageNum" style="width:100px;" data-options="required:true"/>
            </div>
        </form>
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
        <a class="easyui-linkbutton" id="btnAddPlan" data-options="iconCls:'icon-ok'" href="javascript:void(0)" style="width:80px">添加</a>
        <a class="easyui-linkbutton" id="btnClosePlan" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" style="width:80px">取消</a>
    </div>
</div>
</body>
</html>